/* line 1, ../sass/input.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, ../sass/input.scss */
.header {
  z-index: 100001;
}

/* line 22, ../sass/input.scss */
body {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 144px;
  background-color: #eee;
  margin-bottom: 60px;
  background: url("../images/Website-Template-red.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 36, ../sass/input.scss */
.btn-primary {
  color: #fff;
  background-color: #dc291e;
  border-color: #dc291e;
  font-weight: bold;
}

/* line 43, ../sass/input.scss */
.btn-primary:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
  font-weight: bold;
  outline: 0;
}

/* line 54, ../sass/input.scss */
.btn-primary:active:focus {
  color: #000;
  background-color: #dc291e;
  border-color: #dc291e;
  font-weight: bold;
  outline: 0;
  box-shadow: none;
}

/* line 64, ../sass/input.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
  font-weight: bold;
}

/* line 74, ../sass/input.scss */
.labels {
  color: #dc291e;
}

/* line 79, ../sass/input.scss */
.form-area {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 85, ../sass/input.scss */
.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* line 95, ../sass/input.scss */
.submit-view {
  margin-top: 20px;
}

/* line 99, ../sass/input.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
}

/* line 110, ../sass/input.scss */
.footerSection1 {
  text-align: center;
}

/* line 115, ../sass/input.scss */
.footerSection1 > tbody > tr > td {
  border: 0;
}

/* line 120, ../sass/input.scss */
.footerlogo {
  content: url("../images/image.png");
  height: 65px;
  width: 65px;
}

/* line 128, ../sass/input.scss */
.footer > div > div {
  text-align: center;
}

/* line 133, ../sass/input.scss */
.socialIcons {
  background: inherit;
  color: #dc291e;
  margin: 0 auto;
}

/* line 141, ../sass/input.scss */
.socialIcons > tbody > tr > td {
  width: 30px;
}

/* line 146, ../sass/input.scss */
.social {
  display: inline;
}

/* line 151, ../sass/input.scss */
.footerSection2 {
  text-align: center;
}

/* line 156, ../sass/input.scss */
.footerSection2 > tbody > tr > td {
  border: 0;
  color: #dc291e;
}
